h1 {
    color: #179af8  !important;
}

.flex-box {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.modal-heading-wrapper {
    margin-top: 1em !important;
    margin-bottom: 2em !important;
}

.notfound {
    text-align: center !important;
    margin-top: 2em !important;
    font-size: 7em !important;
    font-weight: bold !important;
}

.icon-right {
    margin-right: 15px !important;
}

.btn {
    color: #ffffff !important;
}

.card {
    margin-bottom: 1em !important;
}

.card-content {
    min-height: 400px !important;
}

.blue {
    color: #179af8  !important;
}

.statistics {
    display: flex !important;
    align-items: center !important;
}

.sidebar-wrapper {
    height: auto !important;
    border: 0 !important;
    border-radius: 0 !important;
    transform: none !important;
}

.sidebar {
    background-color: #179af8 !important;
    float: left;
}

.sidebar, .content-pusher:after {
    position: fixed !important;
}

.sidebar-menu-header{
    font-size: 19px !important;
}

.sidebar-menu{
    background-color: #179af8  !important;
    color: #fff  !important;
    font-size: 17px;
    text-align: left;
    justify-content: flex-start;
}

.sidebar-menu-wrapper {
    background-color: rgba(23, 154, 248, 0.8) !important;
    background-size: cover !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.sidebar-menu-item {
    text-align: justify !important;
    line-height: 40px !important;
}

.sidebar-menu-item a {
    color: #fff !important;
}

.drawer-button span {
    font-size: 17px !important;
}

.menu-header span{
    font-size: 19px !important;
    font-weight: bold !important;
}

.content {
    min-height: 100% !important;
}

.view {
    margin-top: 6em;
    min-height: 100% !important;
}

.page-wrapper {
    min-height: 700px !important;
}

.wrapper{
    height: 250px;
    width: 100%;
    background-color: #ffffff;
    opacity: 1;
}

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-header {
    margin-top: 43px;
}

.user-details-list {
    margin-top: 1.5em !important;
}

.user-details-list-header {
    color: #179af8 !important;
    margin-bottom: 8px !important;
}

.user-details-list-icon {
    color: #179af8 !important;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: 1em;
    /* z-index: 1000; */
    text-align: center;
    color: #179af8;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .menu-right {
        display: none !important;
    }
}


