@import '~semantic-ui-css/semantic.css';

.menu {
  background-color: #fff;
}

.menu-header {
  font-weight: bold;
}

.menu-item {
  color: #179af8 !important;
  font-weight: bold !important;
}

.logo {
  font-size: 5em;
}

.alert {
  color: #fff !important;
  font-size: 3em;
}

.sub-heading {
  color: #fff !important;
  font-size: 1.5em;
}


.green {
  color: #38d21a !important;
}

.blue {
  color: #179af8 !important;
}

.banner-button {
  background-color: #38d21a !important;
  color: #ffffff !important;
}

.section {
  margin-top: 4em;
}

.section-h2 {
  color: #179af8 !important;
}

.section-p {
  color: #6d6d6a !important;
  font-size: 16px;
}

.footer {
  background-color: rgb(250, 246, 246) !important;
  color: #179af8 !important;
}

.link {
  color: #6d6d6a !important;
  font-size: 16px;
}

.external-links {
  color: #6d6d6a !important;
}

@media screen and (max-width: 768px) {
  .auth-links {
      display: none !important;
  }

  .parallax-wrapper{
    height: 500px !important;
  }

  .parallax-content{
    padding: 1em !important;
  }

  .logo{
    font-size: 3.4em !important;
  }

  .alert{
    font-size: 2.4em !important;
  }

  .message{
    font-size: 1.4em !important;
  }

  .content-section {
    padding-top: 2em !important;
  }

}



